[submodule "langchain"]
	path = langchain
	url = https://github.com/hwchase17/langchain.git
[submodule "dolly"]
	path = dolly
	url = https://github.com/databrickslabs/dolly.git
[submodule "openai-cookbook"]
	path = openai-cookbook
	url = https://github.com/openai/openai-cookbook.git
[submodule "lit-llama"]
	path = lit-llama
	url = https://github.com/Lightning-AI/lit-llama.git
[submodule "open_llama"]
	path = open_llama
	url = https://github.com/openlm-research/open_llama.git
[submodule "stanford_alpaca"]
	path = stanford_alpaca
	url = https://github.com/tatsu-lab/stanford_alpaca.git
[submodule "LoRA"]
	path = LoRA
	url = https://github.com/microsoft/LoRA.git
[submodule "privateGPT"]
	path = privateGPT
	url = https://github.com/imartinez/privateGPT.git
[submodule "llama"]
	path = llama
	url = https://github.com/facebookresearch/llama.git
[submodule "qlora"]
	path = qlora
	url = https://github.com/artidoro/qlora.git
[submodule "FastChat"]
	path = FastChat
	url = https://github.com/lm-sys/FastChat.git
[submodule "peft"]
	path = peft
	url = https://github.com/huggingface/peft.git
[submodule "transformers"]
	path = transformers
	url = https://github.com/huggingface/transformers.git
[submodule "hf-transllm"]
	path = hf-transllm
	url = https://github.com/dsdanielpark/hf-transllm.git
[submodule "Open-LLM-datasets"]
	path = Open-LLM-datasets
	url = https://github.com/dsdanielpark/Open-LLM-datasets.git
[submodule "PaLM"]
	path = PaLM
	url = https://github.com/conceptofmind/PaLM.git
[submodule "LMFlow"]
	path = LMFlow
	url = https://github.com/OptimalScale/LMFlow.git
[submodule "Awesome-LLM"]
	path = Awesome-LLM
	url = https://github.com/Hannibal046/Awesome-LLM.git
[submodule "StableLM"]
	path = StableLM
	url = https://github.com/Stability-AI/StableLM.git
[submodule "gpt-neox"]
	path = gpt-neox
	url = https://github.com/EleutherAI/gpt-neox.git
[submodule "metaseq"]
	path = metaseq
	url = https://github.com/facebookresearch/metaseq.git
[submodule "fairseq"]
	path = fairseq
	url = https://github.com/facebookresearch/fairseq.git
[submodule "alpaca-lora"]
	path = alpaca-lora
	url = https://github.com/tloen/alpaca-lora.git
[submodule "trl"]
	path = trl
	url = https://github.com/lvwerra/trl.git
[submodule "vllm"]
	path = vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "EasyLM"]
	path = EasyLM
	url = https://github.com/young-geng/EasyLM.git
[submodule "korean-open-llm-datasets"]
	path = korean-open-llm-datasets
	url = https://github.com/dsdanielpark/korean-open-llm-datasets.git
[submodule "gptq"]
	path = gptq
	url = https://github.com/IST-DASLab/gptq.git
